out
.idea
*.class

# Build products
flatlaf-3.2.jar
rars.jar
rars-flatlaf.jar
src/Version.properties

# Maven
target/

# Eclipse project files
.classpath
.project

# Emacs
.settings

# MacOS
.DS_Store
*/.DS_Store
